<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881756450601-7gkbqdpqd705jjgejj6kqn8es269g2pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881756450601-7gkbqdpqd705jjgejj6kqn8es269g2pg</string>
	<key>API_KEY</key>
	<string>AIzaSyAeaSFd1a5gCWVEMXREzOGWCzO0qLU-GZw</string>
	<key>GCM_SENDER_ID</key>
	<string>881756450601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wight-Dylan.Colorue</string>
	<key>PROJECT_ID</key>
	<string>project-6663883006145995611</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6663883006145995611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881756450601:ios:d62930c5fb1f8d6f</string>
	<key>DATABASE_URL</key>
	<string>https://project-6663883006145995611.firebaseio.com</string>
</dict>
</plist>
